<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <link rel="stylesheet" href="/static/css/formSelects-v4.css"/>
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <script src="/static/js/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>
    <style>
        /* 禁止刷新后出现横向滚动条 */
    </style>
</head>

<body class="x-admin-sm">
<div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">用户管理</a>
                <a>
                    <cite>角色列表</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-table" style="overflow-y: scroll;"
                           lay-data="{url:'/api/v1/role/',page:true,toolbar: '#role_button',id:'roles'}"
                           lay-filter="roles">
                        <thead>
                        <tr>
                            <th lay-data="{type:'checkbox',width:'15px'}">ID</th>
                            <th lay-data="{field:'title', sort: true,width:'30px'}">title</th>
                            <th lay-data="{field:'status', templet: '#is_active',width:'35px'}">激活</th>
                            <th lay-data="{field:'id',templet: '#buttons',width:'35%'}">动作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="layui-col-md9">
            <div class="layui-card">
                <div class="layui-card-header">编辑</div>
                <div class="layui-card-body">
                    <div id="test6" class="demo-transfer"></div>
                    <hr>
                    <button class="layui-btn" onclick="right_submit()">提交</button>
                    <input type="hidden" id="id" value="">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="is_active">
    <input type="checkbox" value="{{ d.status }}" lay-skin="switch" lay-text="开|关"
           lay-filter="status" name="{{ d.id }}" {{ d.status == true ? 'checked': ''}}>
</script>
<script type="text/html" id="buttons">
    <button onclick="Info('{{ d.id }}')" class="layui-btn layui-btn-normal layui-btn-sm">详情</button>
    <button onclick="ChangeRole('{{ d.id }}')" class="layui-btn layui-btn-warm layui-btn-sm">修改</button>

</script>
<script type="text/html" id="role_button">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" onclick="AddRole()">添加</button>
        <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="deleteUser">删除</button>
    </div>
</script>
<script>
    console.log(window.matchMedia("(prefers-color-scheme: dark)"))
    //触发事件
    layui.use(['transfer', 'form', 'table', 'laydate'],
        function () {
            var table = layui.table, form = layui.form, transfer = layui.transfer;
            //头工具栏事件
            table.on('toolbar(roles)',
                function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch (obj.event) {
                        case 'changeRole':
                            var data = checkStatus.data;
                            if (data.length === 0 || data.length > 1) {
                                layer.msg('请选择一条数据！');
                                break;
                            } else {
                                ChangeRole(data);
                                break;
                            }
                        case 'deleteRole':
                            var data = checkStatus.data;
                            id_list = [];
                            for (let i = 0; i < data.length; i++) {
                                id_list.push(data[i].id)
                            }
                            DeleteRoles(id_list);
                            break;
                    }
                });
            //监听指定开关
            form.on('switch(status)', function (data) {
                $.ajax({
                    url: "/api/v1/role/status/",
                    data: {"key": this.name},
                    success: function (result) {
                        if (result.code === 0) {
                            layer.msg('修改成功!');
                        }
                    }, error: function (data) {
                        layer.msg('修改失败' + data.responseText);
                    }
                })
            });
            //模拟数据
        });

    function Info(id) {
        var data = [];
        var checked = [];
        $.ajax({
            url: "/api/v1/role/permissions/",
            data: {"key": id},
            type: "get",
            async: false,
            success: function (result) {
                data = result.data.permissions;
                checked = result.data.pids

            }, error: function () {
                layer.msg('加载失败!' + data.responseText, {icon: 6, time: 2000});
            }
        });

        layui.use('transfer', function () {
            var transfer = layui.transfer;
            //穿梭时的回调
            transfer.render({
                elem: '#test6'
                , data: data,
                title: ['未选权限', '已选权限'],
                id: "permission",
                value: checked
                , showSearch: true
                , width: 300 //定义宽度
                //, height: 210 //定义高度
            });
        });
        $("#id").val(id)
    }

    function right_submit() {
        let id = $("#id").val();
        if (id === '') {
            return false
        } else {
            layui.use('transfer', function () {

                let transfer = layui.transfer;
                let rightData = transfer.getData('permission');
                let ids = [];

                for (let i = 0; i < rightData.length; i++) {
                    ids.push(rightData[i].value);
                }
                $.ajax({
                    url: "/api/v1/role/permissions/",
                    data: {"key": id, "ids": ids},
                    type: "post",
                    success: function (result) {
                        if (result.code !== 0) {
                            layer.msg('修改失败!' + result.msg, {icon: 2, time: 2000});
                        } else {
                            layer.msg('修改成功!', {icon: 6, time: 1000});
                        }

                    }, error: function (data) {
                        layer.msg('修改失败!' + data.responseText, {icon: 6, time: 2000});
                    }
                });
            })
        }

    }

    function ChangeRole(id) {
        url = '/static/templates/role/role-change.html?key=' + id;
        xadmin.open('用户修改', url, 700, 666);
    }

    function DeleteRoles(id_list) {
        layer.confirm('你选中了' + id_list.length + '个用户 , 确认都要删除吗？', function () {
            //发异步删除数据
            $.ajax({
                url: "/api/v1/roles/",
                type: "delete",
                data: {"ids": id_list},
                success: function (result) {
                    layer.msg('已删除!', {icon: 1, time: 1000});
                    var index = parent.layer.getFrameIndex(window.name);
                    /* 先得到当前iframe层的索引 */
                    layui.table.reload('users', {page: {curr: $(".layui-laypage-em").next().html()}});   //主要代码
                    //关闭当前frame
                }, error: function (data) {
                    layer.msg('删除失败!' + data.responseText, {icon: 1, time: 2000});
                }
            });

        });
    }

    function AddRole() {
        let url = "/static/templates/role/role-add.html/";
        xadmin.open('用户修改', url, 700, 710);
    }
</script>
</body>
</html>